.box {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 13, 163);
    margin: 5px;
    border: 1px solid black;  
}
.fizz {
    background-color: rgb(13, 141, 98);
}
.buzz {
    background-color: rgb(200, 129, 23);
}
.fizz-buzz {
    background-color: rgb(228, 228, 118);
}